/* CSS Document */
div#userstats {
    background-color: rgba(58, 3, 145, 0.8);
    width: 200px;
    height: auto;
    float: right;
    box-shadow: 0 0 5px 5px darkgrey;
    margin-right: -210px;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-size: xx-small;
}
.switch {
	top: 1px;
	
  position: relative;
  display: inline-block;
  width: 44px;
  height: 18px;
}
span.vertex {
    font-size: 10px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F00;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: limegreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px limegreen;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 18px;
}

.slider.round:before {
  border-radius: 50%;
}


.Zebra_DatePicker_Icon.Zebra_DatePicker_Icon_Inside_Right{
	z-index: 10;
}
.Zebra_DatePicker_Icon_Wrapper{
	width: 180px!important;
	float: right!important;
}

#detail #detail-imgs img, #detail #detail-imgs-2 img, #detail2 #detail-imgs img, #detail2 #detail-imgs-2 img{
	max-height: 100%;
}
#detail #detail-imgs .col-md-8:not(.noflex) #btn-iv > img, #detail #detail-imgs .col-md-7 #btn-iv > img, #detail #detail-imgs-2 .col-md-8:not(.noflex) #btn-iv > img, #detail #detail-imgs-2 .col-md-7 #btn-iv > img, #detail2 #detail-imgs .col-md-8:not(.noflex) #btn-iv > img, #detail2 #detail-imgs .col-md-7 #btn-iv > img, #detail2 #detail-imgs-2 .col-md-8:not(.noflex) #btn-iv > img, #detail2 #detail-imgs-2 .col-md-7 #btn-iv > img
{
	height: 100%;
}
.list-column.list-mylink.border-none.col-lg-16.col-md-17.col-sm-2.col-xs-2
{
	overflow: visible;
}
.list-column.list-carimage.list-button-image.border-none.hidden-lg.hidden-md.col-sm-2.col-xs-2
{
	margin-bottom: 8px;
}
input.list-body-button.col-lg-5.col-md-5.col-sm-5.col-xs-5 {
    width: 15px;
}
p.mileage {
    font-size: larger;
	font-weight: 700;
}
.greentext {
    color: chartreuse!important;
}
.orangetext {
    color: darkorange!important;
}
.bluetext {
	color: deepskyblue!important;
}
div#quick_settings {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
	display: none;
}
#man-year-find-home{
	position: absolute;
    margin-top: -13px;
}
div#bottomdiv {
    margin-left: 25%;
    padding: 10px;
	display: none;
}

div#sheet_names {
	display: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    height: auto;
    max-height: 500px;
    overflow: auto;
    padding: 10px;
    background-color: #bfffb6a8;
}
input.pricefield {
    width: 100%;
    height: 26px;
    font-size: medium;
	text-align: center;
    font-weight: bold;
    padding: 0px!important;
}
img.loadingimg {
    margin-left: 85%;
    margin-top: -35px;
	display: none;
	position: absolute;
}
.loadingicon {
    z-index: 10000000;
    position: relative;
    background-color: rgba(0,0,0,0);
}
.jans_username
{
	font-size: x-small!important;
}
.jans_password
{
	font-size: x-small!important;
}
.jans_country
{
	font-size: x-small!important;
}

input.fetchprices {
    width: 8%;
	height: 23px;
    margin-left: 2px;
    background-color: darkblue;
    color: aliceblue;
    border-color: darkcyan;
    border-radius: 3px;
    transition: background-color, 1s;
}

#alist{
	background: linear-gradient(red,black);
    border-radius: 5px;
	border: thin;
    border-color: aqua;
    border-style: double;
	
	
}
#blist{
	background: linear-gradient(darkorange,black);
	border-radius: 5px;
    border: thin;
    border-color: aqua;
    border-style: double;
}
#clist{
	background: linear-gradient(blue,black);
    border: thin;
	border-radius: 5px;
    border-color: aqua;
    border-style: double;
}
#dlist{
	background: linear-gradient(purple,black);
    border: thin;
	border-radius: 5px;
    border-color: aqua;
    border-style: double;
}
input.fetchprices:hover{
	background-color: cadetblue;
}
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100000000;
	top: 0;
	left: 0;
	
	background-color: rgba(0, 0, 0, 0.8);
	overflow-x: hidden;
	transition: 0.5s;
}
.sidetable td {
	text-align: center;
	color: aquamarine;
	
}
input.remarkfield::placeholder {
    color: lightblue;
}
.jans_auction_date {
	font-weight: bold;
}

div#alltolist {
   position: relative;
    margin-left: 0px;
    display: flex;
    margin-top: 0px;
    background-color: cadetblue;
    padding: 1px;
    border-radius: 5px;
}

div#resetMemDiv {
    position: absolute;
    margin-left: 226px;
    display: none;
    
    background-color: cadetblue;
    padding: 5px;
    border-radius: 5px;    
    opacity: 0;
	transition: all .3s ease .15s;
}
.list.image-mode .list-row{
	height: 272px!important;
}
div#autosendbuttons {
    position: fixed;
    margin-left: 226px;
    display: list-item;
    margin-top: 500px;
    background-color: cadetblue;
    padding: 5px;
    border-radius: 5px;
    
    opacity: 0;
	transition: all .3s ease .15s;
}
.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	display: none;
}
.overlay a {
	border-color: aqua;
    border-style: double;
    border-radius: 8px;
    background-color: black;
    padding: 8px;
    box-shadow: 0 0 5px 1px cyan;
    text-decoration: none;
    font-size: 36px;
    color: red;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
	color: chartreuse
}
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}
.overlay a {
	font-size: 20px
}
.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
}
.mycheckbox {
	margin-right: 3px;
}
.repeating_car {
	display: none;
}
label {
	font-size: x-small;
	margin-bottom: 1px;
}
.newcar {
	border: 4px solid yellowgreen !important;
	border-radius: 10px;
}
.visited {
	border: 4px solid orange !important;
	border-radius: 10px;
}
.mytype {
	font-size: large;
	margin-top: 5px;
	font-weight: bold;
}
p#notice1 {
    box-shadow: 0 0 5px 1px;
}
#janoptions {
	width: 100%;
	background-color: black;
	color: aliceblue;
	margin-top: 5px;
	cursor: pointer;
	padding: 2px;
	text-align: center;
	border-radius: 5px;
    border: thin;
    border-color: aqua;
    border-style: double;
    background: linear-gradient(darkblue,black);
}
div#lever {
	width: 100px;
	height: 50px;
	position: fixed;
	background-color: red;
	z-index: 20000;
	opacity: 0.6;
	border-radius: 5px;
	margin-top: -20px;
	color: white;
	cursor: pointer;
	display: none;
}
.credo {
	border-radius: 10px;
	float: left;
	position: fixed;
	display: grid;
	margin-top: -70px;
	margin-left: -250px;
	z-index: 1000000;
	background-color: cadetblue;
	padding: 5px;
	width: 230px;
	transition: margin-left 1s;
}
.detprogbar {
	height: 26px;
	width: 2%;
	margin-left: 1%;
	background-color: red;
	float: left;
	transition: background-color 0.25s;
}
#pricetable td {
    background-color: darkseagreen;
    border-style: solid;
    border-width: thin;
    border-color: darkolivegreen;
}
.priceinfobar {
   	background-color: rgba(200,217,71,.7);
    border-radius: 5px;
    margin-top: 2px;
    position: unset;
    width: 95%;
    z-index: 10;
    height: fit-content;
    padding: 10px;
}
.priceinfobarthumb {
   	background-color: rgba(200,217,71,.7);
    border-radius: 5px;
    margin-top: 2px;
    position: relative;
    width: 95%;
    z-index: 10;
    height: fit-content;
    padding: 10px;
}

.priceinfobar tbody{
    text-align: -webkit-center;
}

table#pricetable {
    width: -webkit-fill-available;
    word-wrap: break-word;
    word-break: break-all;
	font-size: smaller;
}
table#pricetable th {
    width: 20%;
}
table#pricetable td {
    width: 20%;
}

#oliacresponse{
	text-align: center;
    color: #ffffff;
    box-shadow: 3px 3px 2px darkblue!important;
    font-size: small;
    width: fit-content;
    background: cornflowerblue;
    border-radius: 7px;
    padding: 8px;
    margin: 10px;
    position: inherit;
    margin-top: -60px;
    margin-left: 280px;

}

.updatebutton:hover{
	background-color: darkblue!important;
    box-shadow: 0 0 2px 2px aqua!important;   
}

input.rowsend {
    background-color: lightgray;
    margin-right: 2px;
    margin-left: 1%;
	height: 26px;
}
.rowp {
	z-index: 10;
	width: 40px;
	height: 26px;
	font-family: sans-serif;
	font-size: small;
	font-weight: bold;
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
	text-align: center;
	background-color: honeydew;
}
.rowcom {
	width: 120px;
	height: 26px;
	font-family: sans-serif;
	font-size: small;
	font-weight: bold;
	margin-left: 1%;	
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
	text-align: center;
	background-color: palegoldenrod;
}
.janlogin{
	width: -webkit-fill-available;
	background-color: darkgreen;
	color:#FFF;
	font-size: small!important;
	margin-top: 1px; 
	width:100%;
	transition: background-color, .5s;
}
.janlogin:hover{
	color:#000;
	background-color:chartreuse;
}

.list-body-buttons {
	width: inherit;
}
.list-body-image {
	float: left;
}
.optionslabel {
	font-size: small;
	margin-left: 3px;
	color: white;
	cursor: pointer;
	margin-top: 1px;
	margin-bottom: 1px;
"
}
.sortbutton {
	font-size: small;
	border-radius: 7px;
	background-color: cornflowerblue;
	border-color: lightslategrey;
	color: white;
	float: right;
	width: 80px;
	font-size: x-small;
	height: 23px;
	transition: background-color, .5s;
}
.sortbutton:hover {
	font-size: small;
	border-radius: 7px;
	background-color: deepskyblue;
	border-color: lightslategrey;
	color: white;
	float: right;
	width: 80px;
	font-size: x-small;
	height: 23px;
}

#clearcount {
	font-size: small;
	border-radius: 7px;
	background-color: chocolate;
	border-color: chocolate;
	color: white;
	
}
#clearcountgss {
	font-size: small;
	border-radius: 7px;
	background-color: chocolate;
	border-color: chocolate;
	color: white;
	
}

#success_msg {
	padding-top: 10px;
	-webkit-box-shadow: inset 0px 0px 10px black;
	background-color: greenyellow;
	text-align: -webkit-center;
	height: 44px;
	font-weight: 900;
	margin-top: 1px;
	display:none;
	border-radius: 5px;
}
#repeatingcar_msg {
	background-color: deeppink;
	text-align: -webkit-center;
	height: 44px;
	font-weight: 900;
	margin-top: 1px;
	display: none;
}