/* CSS Document */

body {
	background-color: white;
}
#image {
	width: 620;
}
#leftarrow {
	position: absolute;
	top: 500px;
	left: 0px;
	cursor: pointer;
}
#rightarrow {
	position: absolute;
	top: 500px;
	left: 520px;
	cursor: pointer;
}
h1 {
	background: olive;
}
#signin-button {
	margin-bottom: 100px
}
#signout-button {
	margin-bottom: 100px
}
#oliacresponse{
	text-align: center;
    color: #ffffff;
    box-shadow: 3px 3px 2px darkblue!important;
    font-size: medium;
    width: fit-content;
    background: cornflowerblue;
    border-radius: 7px;
    padding: 8px;
    margin: 10px;
    position: absolute;
    margin-top: -60px;
    margin-left: 280px;

}
.thumb {
	cursor: pointer;
	width: 80px;
	height: 60px;
	display: inline-grid;
	margin: 2px;
}
#cont {
	height: auto;
	width: 610px;
	overflow-y: scroll;
	white-space: wrap;
	overflow-x: scroll;
	border-style: double;
	border-color: dodgerblue;
	background-color: orange;
}
p {
	margin: 1px;
	padding: 1px;
	font-size: small;
}
h4 {
	font-size: small;
	height: 20px;
	margin: 1px;
	padding: 1px;
	background-color: cornflowerblue;
	color: aliceblue;
	width: 100%;
}
.row {
	width: 33%;
	padding: 0px;
	float: left;
}
.like-tbl {
	display: table;
	table-layout: fixed;
	height: 23px;
	width: 100%;
	padding: 0;
}
div#detailsrow {
	height: 500px;
	font-size: x-small;
	padding: 0px;
	margin: 0px;
	width: 600px;
}
div#detail-attr {
	height: 90%;
	font-size: x-small;
	padding: 0px;
	margin: 0px;
}
.col-md-4.col-nomargin.like-tbl-outer {
	width: 33%;
	float: left;
}
h4.col-md-4.col-xs-3.col-height.col-middle {
	padding: 0px;
	margin: 0px;
	background-color: #5792ff;
	color: white;
	font-style: normal;
}
p.col-md-8.col-xs-9.col-height.col-middle {
	margin: 2px;
}
h4#col-left {
	height: 23px;
	margin: 0px;
	padding: 0px;
	background-color: cornflowerblue;
	color: aliceblue;
	width: 100%;
}
p.col-md-4.col-xs-9.col-height.col-middle {
	margin: 1px;
	padding: 1px;
}
.like-tbl-outer {
	border: 1px solid #ddd;
	border-bottom: none;
	border-right: none;
}
h4#col-note {
	background-color: cornflowerblue;
	color: aliceblue;
}
p.col-md-8.col-xs-9.col-height.col-middle {
	margin: 2px;
	font-size: small;
}
.col-xs-3.col-md-3.col-nomargin {
	height: 40px;
}
#repcar{
	width: 100%;
	height: 40px;
	background-color: deeppink;
	text-align: center;
	padding: 5px;
}
#notice{
	font-size: large;
    font-family: sans-serif;
	color: aliceblue;	
}